# Racial Segregation in US Cities Report
**By Mahir Dalal| Division B**

In [1]:
# Projet Setup 
import pandas as pd

In [3]:
# import the chicago data
chicago_df=pd.read_csv("data/prepped/chicago_race.csv")
chicago_df.head(5)

,GEOID,GEO.display.label,pop,pop.white,pop.not.white,pct.white,pct.not.white
0,17031010201,17031010201,6450,2312,4138,0.358450,0.641550
1,17031010202,17031010202,2818,1237,1581,0.438964,0.561036
2,17031010300,17031010300,6236,3267,2969,0.523894,0.476106
3,17031010400,17031010400,5042,3341,1701,0.662634,0.337366
4,17031010503,17031010503,2290,1452,838,0.634061,0.365939

# Diversity Ratio

In [6]:
total_white_people=chicago_df["pop.white"].sum()
print("There are",total_white_people,"white people")

total_not_white_people=chicago_df["pop.not.white"].sum()
print("There are",total_not_white_people,"non white people")

diversity_ratio=total_white_people/total_not_white_people
print("The diversity ratio is",diversity_ratio)

There are 2513996 white people
There are 2134618 non white people
The diversity ratio is 1.1777264128757463

# Measuring Chicago's Interaction Index

In [11]:
# Calculating the total minority population
total_minority_pop=chicago_df["pop.not.white"].sum()
#Calculating the interaction index for each sub neighbourhood/sub tract
chicago_df["interaction_index"]=(chicago_df["pop.not.white"]/total_minority_pop)*(chicago_df["pop.white"]/chicago_df["pop"])
                                                                                            
chicago_df.head(5)

,GEOID,GEO.display.label,pop,pop.white,pop.not.white,pct.white,pct.not.white,interaction_index
0,17031010201,17031010201,6450,2312,4138,0.358450,0.641550,0.000695
1,17031010202,17031010202,2818,1237,1581,0.438964,0.561036,0.000325
2,17031010300,17031010300,6236,3267,2969,0.523894,0.476106,0.000729
3,17031010400,17031010400,5042,3341,1701,0.662634,0.337366,0.000528
4,17031010503,17031010503,2290,1452,838,0.634061,0.365939,0.000249

In [12]:
#Calculating the interaction index for chicago(sum of the interaction index column)
interaction_index_of_chicago=chicago_df["interaction_index"].sum()
interaction_index_of_chicago

0.33621530101878605

# Calculate the interaction index for all US Cities

In [13]:
import os

In [15]:
city_file_name_list=os.listdir("data/prepped/")
city_file_name_list

['ok_city_race.csv',
 'denver_race.csv',
 'pittsburgh_race.csv',
 'syracuse_race.csv',
 'columbus_race.csv',
 'kc_race.csv',
 'milwaukee_race.csv',
 'wichita_race.csv',
 'memphis_race.csv',
 'st_louis_race.csv',
 'baltimore_race.csv',
 'charleston_race.csv',
 'dayton_race.csv',
 'chicago_race.csv']

In [23]:
def print_interaction_indexes():
    #Getting a list of all the city file names
    city_file_name_list=os.listdir("data/prepped/")
    #For Loop
    # For each city file
    for city_file_name in city_file_name_list:
        #Import the city data
        city_df=pd.read_csv("data/prepped/"+city_file_name)
        # Calculating the total minority population
        total_minority_pop=chicago_df["pop.not.white"].sum()
        #Calculating the interaction index for each sub neighbourhood/sub tract
        city_df["interaction_index"]=(city_df["pop.not.white"]/total_minority_pop)*(city_df["pop.white"]/city_df["pop"])
        #Calculating the interaction index for chicago(sum of the interaction index column)
        interaction_index_of_chicago=city_df["interaction_index"].sum()
        #Print out the interaction index for the city
        #Bonus(5 points):Get rid of _race.csv and make the first letter capital
        # Hint: use string functions
        
        print(city_file_name.replace("race.csv","").title(),": ",interaction_index_of_chicago)

In [24]:
print_interaction_indexes()

Ok_City_ :  0.10122606385428407
Denver_ :  0.19558281757835597
Pittsburgh_ :  0.07504269251620427
Syracuse_ :  0.028713502037955446
Columbus_ :  0.09748767915394775
Kc_ :  0.12589072014503302
Milwaukee_ :  0.08438208030916368
Wichita_ :  0.03667580609138098
Memphis_ :  0.29170054708115506
St_Louis_ :  0.12920314966767957
Baltimore_ :  0.013359092544132627
Charleston_ :  0.37206746817570885
Dayton_ :  0.04202063985716865
Chicago_ :  0.33621530101878605